<style>
	.row h1, .row div {
		text-align: center;
	}
</style>
<div class="row">
	<h1> Edit Post</h1>
</div>
<div class="row">
	<div class="col-sm-12 col-md-6 col-md-offset-3">
		<%= form_for :post, url: post_path(@post), method: :patch do |f| %>
		<p>
			<%= f.label :title %>
			<%= f.text_field( :title, {:class => 'form-control', :placeholder => @post.title}) %>
		</p>
		<p>
			<%= f.label :body %>
			<%= f.text_field( :body, { :class => 'form-control', :placeholder => @post.body }) %>
		</p>
		<p>
			<%= f.submit({:class => 'btn btn-info'}) %>
		</p>
		<% end %>
	</div>
</div>

<div class="row">
	<% if @post.errors.any? %>
		<% @post.errors.full_messages.each do |msg| %>
			<div class="alert alert-danger"><%= msg %></div>
		<% end %>
	<% end %>
</div>
<div class="row">
<% if (@message) %>
	<div class="col-md-6 col-md-offset-3 btn-danger"> <%= @message %> </div>
<% end %>
</div>