<style>
	.row h1, .row div {
		text-align: center;
	}
</style>
<div class="row">
	<h1> Add Post</h1>
</div>
<div class="row">
	<div class="col-sm-12 col-md-6 col-md-offset-3">
		<%= form_for :post, url: posts_path do |f| %>
		<p>
			<%= f.label :title %>
			<%= f.text_field( :title, {:class => 'form-control' }) %>
		</p>
		<p>
			<%= f.label :body %>
			<%= f.text_field( :body, { :class => 'form-control' }) %>
		</p>
		<p>
			<%= f.submit %>
		</p>
		<% end %>
	</div>
</div>